* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border: none;
    padding: 6px 18px;
    font-weight: 800;
}

body {
    margin: 0;
}

/* HEADER */

.header {
    display: flex;
    align-items: center;
    padding: 12px 32px;
    background-color: #1f2937;
}

.header h1 {
    color: #f9faf8;
    margin: 0;
    font-size: 24px;
}

.header ul {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: auto;
    gap: 32px;
    font-size: 18px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
}

/* TOP */

.top-space {
    display: flex;
    padding: 64px 128px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    gap: 64px
}

.top-space .left {
    flex: 0 1 500px;
}

.top-space img {
    width: 400px;
    height: 200px;
    flex: 0 0 auto;
}

.top-space h1 {
    color: #f9faf8;
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

.top-space p {
    color: #e5e7eb;
    margin: 0;
    margin-bottom: 8px;
}

/* INFO */

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section h2 {
    margin: 32px;
    font-size: 32px;
    font-weight: 900;
    color: #1f2937;
}

.info-section img {
    width: 150px;
    height: 150px;
}

.info-images {
    display: flex;
    gap: 64px;
}

.info-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

/* QUOTE */

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.quote-section .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    margin: 0;
    max-width: 700px;
    flex: 0 1 auto;
}

.quote-section .author {
    font-size: 24px;
    font-weight: 800;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    width: 700px;
}

/* CALL TO ACTION */

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px;
}

.call-to-action .blue-box {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 25px 100px;
    display: flex;
    gap: 24px;
    flex: 1;
    justify-content: space-between;
    max-width: 700px;
}

.call-to-action p {
    color: #f9faf8;
}

.call-to-action .cta-header {
    font-weight: 800;
    font-size: 24px;
}

.call-to-action button {
    border: 2px solid #f9faf8;
    align-self: center;
}

/* FOOTER */

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #e5e7eb;
}